
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.parent-Div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height: 550px;
    border: 2px solid black;
    margin: 90px auto;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: black;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 400px;
    height: 200px;
    background-color: rgb(216, 94, 94);
    border-radius: 30px 0px 30px 0px;
    border: 3px solid blue;
    box-shadow: 0 0 70px rgba(240, 5, 5, 0.6);
}
span{
    margin-left: 25px;
    
}

.password-Section-parent{
    width: 350px;
    height: 500px;
    border: 2px solid red;
    border-radius: 15px;
    background-color: rgb(68, 53, 155);
    box-shadow: 0 0 100px rgba(240, 5, 5, 0.6);
}

.Password-Generator{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.password-length-div{
    width: 300px;
    margin-top: 15px;
    margin-left: 20px;
    
}

.password-length{
    font-size: 20px;
    font-weight: bold;
    margin-left: 70px;
}

.input-section{
    width: 300px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 8px;
    border-radius: 5px;
    border: none;
}


.include-section-parent{
    width: 300px;
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
}

#passwordBtn{
    width: 180px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 2px;
    background-color: rgb(14, 151, 14);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 80px;
}
#passwordBtn:hover{
    background-color: green;
}

.yourPass{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-left: 110px;
    margin-top: 20px;
}


#showPassword{
    width: 300px;
    border: 2px solid rgb(250, 4, 4);
    margin-left: 15px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    overflow: auto;
}

#copyBtn{
    width: 180px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 2px;
    background-color: rgb(4, 146, 51);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 80px;
}
#copyBtn:hover{
    background-color: rgb(9, 126, 5);
}